.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
